<blockquote class="quote">
    <p class="quote__text">
        jack and jill went up the hill
    </p>
</blockquote>

<div class="media">
    <div class="media__image">
        <svg class="icon icon--secondry quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
        </svg>

    </div>
    <div class="media__body">
        <h3 class="media__title quote__author">John Lenon</h3>
        <p class="quote__organization">
            jack and jill went up the hill
        </p>

    </div>
</div>