<body style="padding: 5rem;">

    <div class="card testimonial">
        <div class="grid grid--1x2">
            <div class="testimonial__image">
                <img src="images/testimonial.jpg" alt="imag" />
                <span class="icon-container icon-container--accent">
                    <svg class="icon icon--white">
                        <use xlink:href="images/sprite.svg#quotes"></use>
                    </svg>
                </span>

            </div>
            <blockquote class="quote">
                <p class="quote__text">
                    jack and jill went up the hill
                </p>
            </blockquote>

            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--secondry quote__line">
                        <use xlink:href="images/sprite.svg#line"></use>
                    </svg>

                </div>
                <div class="media__body">
                    <h3 class="media__title quote__author">John Lenon</h3>
                    <p class="quote__organization">
                        jack and jill went up the hill
                    </p>

                </div>
            </div>

        </div>
    </div>
</body>